<html>
  <head>
  </head>
  <body>
    <form id='new-user-form' action='/users/create' method='POST'>
      <div id='username'>
	<label>Username: </label><input type='text' id='username'>
      </div>
      <div id='password'>
	<label>Password: </label><input type='password' id='password'>
      </div>
      <button type='submit'>Login</button>
    </form>
  </body>
</html>
